/* ------------------------------------------------------------------
[Table of contents]
GENERAL
* Reset
* Header
* Instagram
* Footer
------------------------------------------------------------------- */

/* --- Reset --- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111;
  font-weight: 650;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 15px 0;
  color: #444;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* --- Header --- */
.navbar {
  background-color: #eaeaea;

  .dropdown-menu {
    background-color: #eaeaea;
  }

  .dropdown {
    @media all and (min-width: 992px) {
      .dropdown-menu {
        display: none;
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  .navbar-brand {
    @media (min-width: 400px) {
      display: flex !important;
    }

    >img {
      width: 116px;

      @media (min-width: 992px) {
        width: 155px;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-icons {
      order: 3;
    }

  }

  .navbar-collapse {
    .nav-item {
      text-transform: uppercase;

      &.nav-item--logo {
        img {
          width: 116px;
        }

        @media (min-width: 400px) {
          display: none !important;
        }
      }

      >.nav-link {
        padding-top: 8px;
        padding-bottom: 0;
      }
    }

    .dropdown-item {
      text-transform: none;
    }
  }

  .container {
    .nav-link {
      color: #111;
      font-weight: 500;
      font-size: 14px;
      font-family: "Oswald",
        sans-serif;
      transition: all,
        0.3s;

      @media (min-width: 992px) {
        font-size: 16px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

    }

    .nav-link,
    .dropdown-item {
      &.nuxt-link-exact-active,
      &:hover {
        color: #f45d96;
      }
    }

    .nav-link.dropdown-toggle.router-link-active {
      color: #f45d96;
    }

    .sign-in-icon {
      &>svg {
        color: #3d8bfd;
        border: 1px solid #3d8bfd;
      }

      &::after {
        color: #3d8bfd;
      }
    }

    .sign-out-icon {
      &>svg {
        color: #6c757d;
        border: 1px solid #6c757d;
      }

      &::after {
        color: #6c757d;

      }
    }

    .sign-in-icon,
    .sign-out-icon {
      &:hover {
        &>svg {
          color: #f45d96;
          border: 1px solid #f45d96;
        }

        &::after {
          color: #f45d96;
        }
      }
    }
  }
}

/* --- Instagram --- */
.instagram {
  padding-top: 10px;
}

.instagram__post {
  margin-right: -2px;
  margin-left: -2px;
}

.instagram__post__item {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: calc(100% - 10px);
  height: 372px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;

  @media only screen and (min-width: 480px) and (max-width: 767px) {
    width: calc(50% - 10px);
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    width: calc(33.33% - 10px);
  }

  @media only screen and (min-width: 992px) {
    width: calc(20% - 10px);
    height: 265px;
  }


  &:hover .instagram__post__item__hover {
    transform: scale(1);
  }
}

.instagram__post__item__hover {
  padding: 20px 75px 16px;
  text-align: center;
  background: #fff;
  transform: scale(0);
  transition: all, 0.5s;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 20px 25px 16px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1449px) {
    padding: 20px 30px 16px;
  }

  svg {
    color: #f45d96;
    font-size: 30px;
  }

  h6 {
    margin-top: 8px;
    color: #111;

    a {
      color: #f45d96;
    }
  }
}

/* --- Footer --- */
.footer {
  padding-top: 30px;

  a {
    text-decoration: none;

    &.nuxt-link-exact-active,
    &:hover {
      color: #f45d96;
    }
  }

  .footer__widget--info,
  .footer__widget--guide {
    li>a {
      position: relative;
      display: inline-block;
      padding-left: 15px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\2713";
      }
    }
  }
}

.footer__logo a>img {
  width: 116px;

  @media (min-width: 992px) {
    width: 155px;
  }
}

.footer__top {
  padding-bottom: 35px;
}

.footer__top__social a {
  margin-right: 20px;
  color: #111;
  font-size: 18px;
}

.footer__top__social a:last-child {
  margin-right: 0;
}

.footer__options {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.footer__widget {
  padding: 50px 0 45px;
}

.footer__widget.footer__widget--address {
  padding-left: 60px;
}

.footer__widget h4 {
  margin-bottom: 18px;
  color: #111;
}

.footer__widget ul li {
  color: #444;
  font-size: 15px;
  line-height: 36px;
  list-style: none;
}

.footer__widget ul li a {
  color: #444;
  font-size: 15px;
}

.footer__newslatter {
  padding: 50px 65px;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

.footer__newslatter h4 {
  margin-bottom: 18px;
  color: #111;
}

.footer__newslatter form {
  position: relative;
}

.footer__newslatter form input {
  width: 100%;
  height: 35px;
  color: #888;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #111;
}

.footer__newslatter form input::placeholder {
  color: #888;
}

.footer__newslatter form button {
  position: absolute;
  top: -25px;
  right: 0;
  height: 100%;
  color: #111;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: transparent;
  border: none;

  &:hover {
    color: #f45d96;
  }
}

.footer__copyright {
  padding: 22px 0 22px;
}

.footer__copyright p {
  margin-bottom: 0;
  color: #111;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__top__text {
    margin-bottom: 30px;
  }

  .footer__newslatter {
    margin-bottom: 30px;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .footer__widget {
    margin-bottom: 30px;
    padding: 0;
  }

  .footer__widget.footer__widget--address {
    padding-left: 0;
  }

  .footer__options {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer__newslatter {
    margin-bottom: 30px;
    padding: 0;
    border-right: none;
    border-left: none;
  }

  .footer__widget {
    margin-bottom: 30px;
    padding: 0;
  }

  .footer__widget.footer__widget--address {
    padding-left: 0;
  }

  .footer__options {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer__newslatter {
    padding: 54px 25px;
  }

  .footer__widget.footer__widget--address {
    padding-left: 20px;
  }
}

#back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  display: none;
  background-color: #f45d96;

  &:hover {
    background-color: #555;
  }
}
